@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Stores";
}

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:max-w-7xl lg:px-8">
        @if (@Model.Any())
        {
            <div class="md:flex md:items-center md:justify-between mb-16 items-center">
                <h2 class="hidden md:block text-xl font-bold tracking-tight text-gray-900">Search Results</h2>
                <form class="w-86 md:w-96 mx-auto flex items-center gap-3" asp-controller="Product" asp-action="Search" method="post">
                    <input type="hidden" id="locationId" name="locationId" value="@Model.First().LocationId"/>
                    <label for="searchTerm" class="ml-px block pl-4 text-sm font-medium leading-6 text-gray-700 sr-only"></label>
                    <input id="searchTerm" name="searchTerm" required class="block w-full rounded-full border-1 px-4 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter a product">
                    <button type="submit" class="flex rounded-full bg-indigo-600 p-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                        </svg>
                    </button>
                </form>
                <div class="flex items-center justify-between mt-12 md:mt-0">
                    <h2 class="md:hidden font-bold tracking-tight text-gray-900">Search Results</h2>
                    <a asp-controller="Home" asp-action="Index" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">
                        Select a different Kroger
                        <span aria-hidden="true"> &rarr;</span>
                    </a>
                </div>
            </div>

            <div class="mt-6 grid grid-cols-2 gap-x-10 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-10 lg:gap-x-8">
                @foreach (var product in @Model)
                {
                    <div class="group relative">
                        <div class="h-56 w-full overflow-hidden rounded-md lg:h-72 xl:h-80">
                            <img src="@product.FeaturedImage" alt="Hand stitched, orange leather long wallet." class="h-full w-full object-cover object-center">
                        </div>
                        @if (product.PromoPrice != 0)
                        {
                            <div class="flex gap-3 mt-6">
                                <p class="line-through text-sm text-gray-500">@product.RegularPrice.ToString("C2")</p>
                                <p class="text-sm text-gray-500 font-bold">@product.PromoPrice.ToString("C2")</p>
                            </div>
                        }
                        else
                        {
                            <p class="mt-6 text-sm text-gray-500 font-bold">@product.RegularPrice.ToString("C2")</p>
                        }
                        <h3 class="text-sm text-gray-700">
                            @product.Description
                        </h3>
                        <p class="mt-1 mb-2 text-sm text-gray-500">@product.Size</p>
                        <div class="flex gap-4">
                            @if (@product.AisleLocation != null)
                            {
                                <span class="inline-flex items-center rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700">@product.AisleLocation.Description</span>
                            }
                            else
                            {
                                <span class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">Location not available</span>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>